---
import Header from "../components/Header.astro";
import Favicon from "../components/Favicon.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Favicon />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <Footer />
  </body>
</html>
